<h1>Setting Up Your Environment</h1>

<p>
  "Programming is 1% inspiration, 99% trying to get your environment working."
  <br />
  <a href="https://twitter.com/HackerNewsOnion/status/390883204967567360">-Hacker News Onion</a>
</p>

<h2>Start Here</h2>
<p>Follow all instructions, guides, and tutorials the best you can.  If you don't understand what to do on a step, don't skip it because it is probably important and not doing it will cause issues down the road that will be messier to clean up in retrospect.</p>

<p>Try to google the keywords you don't understand and figure out what to do instead of skipping.  The most important thing is to be patient and remember that setting up is a one-time thing!</p>
<p><a href="http://guides.rubyonrails.org/getting_started.html">Getting Started With Ruby On Rails</a></p>
<ul>
  <li><a href="https://www.ruby-lang.org/en/downloads/">Install Ruby</a></li>
  <li><a href="http://rubygems.org/">Install RubyGems</a></li>
  <li><a href="http://www.sqlite.org/">Install Sqlite3</a></li>
  <li><a href="http://guides.rubyonrails.org/getting_started.html#installing-rails">Install Rails</a></li>
</ul>
<p><a href="https://help.github.com/articles/set-up-git">Setting up Git</a></p>
<p><a href="http://bitly.com/bundles/leggetter/j">Find/Install a Text Editor (Windows)</a></p>
<p><a href="http://fuelyourcoding.com/the-10-top-text-editors-for-os-x/">Find/Install a Text Editor (Mac)</a></p>

<h2>After Installing everything...</h2>
<p><a href="https://help.github.com/articles/create-a-repo">Create a repository (home) for your code on GitHub</a></p>
<p><a href="http://guides.rubyonrails.org/getting_started.html#creating-a-new-rails-project">Create a Rails Application (In the Folder with Git Set Up)</a></p>
<p><a href="http://guides.rubyonrails.org/getting_started.html#starting-up-the-web-server">Start Up Your Web Server</a></p>
<p><a href="http://localhost:3000/">Go To http://localhost:3000/ in Your Browser</a></p>

<!-- <h3>Getting Your App Live</h3>
<p><a href="https://devcenter.heroku.com/articles/sqlite3">Setting Up Heroku</a></p>
<p><a href="https://devcenter.heroku.com/articles/git">Adding Heroku to Your App and Deploying</a></p>
<p><a href="http://agilewarrior.wordpress.com/2013/04/13/how-to-change-heroku-git-remote/">Adding Heroku to an Existing Git Repository</a></p> -->

<!-- <h3>Adding Bootstrap</h3>
<p><a href="http://www.erikminkel.com/2013/09/01/twitter-bootstrap-3-in-a-rails-4-application/">Set Up Bootstrap</a></p>
<p>Copy the stylesheet files (anything ending in .css) out of the bootsrap dist/css folder and into vendor/assets/stylesheets, the scripts (anything ending in .js) out of the bootsrap dist/js into vendor/assets/javascripts. Copy the entire fonts folder directly into vendor/assets.</p>-->